body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  background-image: url('https://cdn.pixabay.com/photo/2017/05/11/08/37/universe-2303321_1280.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  font-family: 'Comfortaa', cursive;
  padding: 0 10px;
}

.main__wrapper {
  width: 100%;
  height: 100%;
}

.main__headline {
  padding-top: 20px; padding-left: 20px;
  height: 70px;
  color: #FFFFFF;
  background: rgba(0, 24, 129, 0.7);
  border-radius: 30px;
  text-shadow: 0 0 10px #DDDDDD;
  font-size: 50px;
  line-height: 60px;
}

/* NAV STYLING */
.main__nav {
  width: 100%;
  margin: 0; padding: 0;
  display: flex;
  column-gap: 59px;
  /* background: rgba(0, 24, 129, 1); */
}
.main__nav li {
  position: relative;
  list-style-type: none;
  width: 190px;
}
.main__nav a {
  display: inline-block;
  width: 100%;
  padding: 15px 28px;
  background: rgb(170, 170, 170,0.7);
  text-decoration: none;
  color: #FFFFFF;
  font-size: 20px;
  text-align: center;
  /* transition: all 0.15s; */
}

.main__nav a:hover {
  background: rgba(0, 24, 129, 0.7);
}
/* NAV STYLING */

/* GRID STYLING */
.planets__grid {
  max-width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fill, 400px);
  gap: 20px;
  padding: 50px 0;
}
.each__planet {
  position: relative;
  width: 400px; height: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 0 0 20px #FFFFFF;
  border-radius: 20px;
}
.grid__headline {
  font-size: 40px;
  line-height: 0px;
  padding-top: 10px;
  height: 70px;
  color: #FFFFFF;
  text-shadow: 0 0 10px #DDDDDD;
  line-height: 60px;
}

.each__planet-show {
  width: 800px; height: 800px;
  box-shadow: 0 0 20px #FFFFFF;
}
/* GRID STYLING */

/* GENERAL STYLING */
.input__style {
  width: 200px; height: 40px;
  font-size: 15px;
}
.white__background {
  background: rgb(255,255,255,0.5);
}
.h3__styles {
  font-size: 20px;
  padding-top: 10px;
  height: 70px;
  color: #FFFFFF;
  text-shadow: 0 0 10px #DDDDDD;
  line-height: 20px;
}
/* GENERAL STYLING */