<h2 class="grid__headline">SIGN UP</h2>
<h3 class="h3__styles">Please, enter your details</h3>

<form action="/users" method="POST" class="white__background">
  <label for="email">Email:</label>
  <input class="input__style" type="text" name="email">
  <label for="password">Password:</label>
  <input class="input__style" type="password" name="password">
  <input type="submit" name="Create">
</form>